extends layout

block content
   
  div(class='container-fluid')
    div(class='row')
      h2 #{t("home.categories")}:
    div(class='row')
      div(class='col-md-4')
        a(href="/categories/Ypogeia")
          div(class="img-hover-zoom"  )
            img(src="../images/YpogeiaPics/ypogeiaBanner.jpg", alt="Semi-Basement Studio for 2-3 persons" class="categoryImageCover")
            div(class='CategoryBan')
                h3 #{t("content.basements")}
      div(class='col-md-4' )
        a(href="/categories/Front_Sea_View" )
          div(class="img-hover-zoom")
            img(src="../images/mprostinh_8ea_8alassaPics/mprostinh_8ea_8alassaBanner.jpg", alt="Front Sea View"  class="categoryImageCover")
            div(class='CategoryBan') 
             h3 #{t("content.front_sea")}
      div(class='col-md-4')
         a(href="/categories/diamerismata")
          div(class="img-hover-zoom")
            img(src="../images/diamerismataPics/diamerismataBanner.jpg", alt="Apartment for 4-5 persons - Upper Floor" class="categoryImageCover")
            div(class='CategoryBan')
              h3 #{t("content.apartments")}
      div(class='col-md-1')




