extends layout

block content
   
  div(class='container-fluid')
    div(class='row')
      h2 K&alpha;&tau;&eta;&gamma;&omicron;&rho;&iota;&epsi;&sigmaf; &delta;&omega;&mu;&alpha;&tau;&iota;&omega;&nu;:
    div(class='row')
      div(class='col-md-4' )
        a(href="/categories/Monoklina") 
          div(class='roomCategory' ,  style="background-image: url('../images/flame-knight.jpg')" )
            div(class='CategoryBan')
              h3(class='skatoprama') Monoklina
      div(class='col-md-4')
        a(href="/categories/Monoklina" class='roomCategory')
           div(class='CategoryBan')
            h3(class='skatoprama') Monoklina
      div(class='col-md-4')
        a(href="/categories/Monoklina" class='roomCategory')
           div(class='CategoryBan')
            h3(class='skatoprama') Monoklina
    div(class='row')
      div(class='col-md-2')
      div(class='col-md-4')
        a(href="/categories/Triklina")
         div(class="img-hover-zoom")
            img(src="../images/demonslayer.jpg", alt="" )
            div(class='CategoryBan')
              h3(class='skatoprama') Τρικλινα
      div(class='col-md-4')
       a(href="/categories/Monoklina")
        div(class="img-hover-zoom")
         img(src="../images/flame-knight.jpg", alt="" )
         div(class='CategoryBan')
          h3(class='skatoprama') Monoklina
      div(class='col-md-2')

