extends layout

block content
   
  div(class='container-fluid')
    div(class='row')
      h2 K&alpha;&tau;&eta;&gamma;&omicron;&rho;&iota;&epsi;&sigmaf; &delta;&omega;&mu;&alpha;&tau;&iota;&omega;&nu;:
    div(class='row')
      div(class='col-md-4' )
        a(href="/categories/Monoklina") 
          div(class="img-hover-zoom")
            img(src="../images/flame-knight.jpg", alt="Monoklina"  class="categoryImageCover")
            div(class='CategoryBan')
              h3 Monoklina
      div(class='col-md-4')
        a(href="/categories/Diklina" )
          div(class="img-hover-zoom")
            img(src="../images/ypogeiaBanner.jpg", alt="Semi-Basement rooms"  class="categoryImageCover")
            div(class='CategoryBan') 
             h3 Diklina
      div(class='col-md-4')
        a(href="/categories/Ypogeia")
         div(class="img-hover-zoom"  )
            img(src="../images/ypogeiaBanner.jpg", alt="Semi-Basement Studio for 2-3 persons" class="categoryImageCover")
            div(class='CategoryBan')
             h3 Ημιυπόγεια (2-3 κλιν.)
    div(class='row')
      div(class='col-md-2')
      div(class='col-md-4')
        a(href="/categories/Triklina")
         div(class="img-hover-zoom")
            img(src="../images/demonslayer.jpg", alt="" class="categoryImageCover")
            div(class='CategoryBan')
              h3 Τρικλινα  
      div(class='col-md-4')
       a(href="/categories/diamerismata")
        div(class="img-hover-zoom")
         img(src="../images/diamerismataBanner.jpg", alt="Apartment for 4-5 persons - Upper Floor" class="categoryImageCover")
         div(class='CategoryBan')
          h3 Διαμέρισμα (4-5 κλιν.)
      div(class='col-md-2')

