body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: cadetblue;

}

a {
  color: #00B7FF;
}

.baner {
  width: 100%;
  max-height: 35vh;
}

.imageStyle {
  padding: 22px;
}

.mapsImageStyle {
  border: 7px solid black;
}
figcaption {
  color: white;
  font-style: italic;
}


footer {
  bottom: 0;
  width: 100%;
}



.CategoryBan {
  text-align: center;
  width: 75%;
  background-color: azure;
  opacity: 0.5;
  border-radius: 25px 25px 0px 0px;
  align-self: center;
  position: absolute;
  bottom: 12px;
}


.backButton {
  position: absolute;
  left: 12px;
  background-color: rgb(241, 236, 160);
  border-radius: 36px;
}

.roomCategory {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 230px;
  max-width: 410px;
  margin: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  border: solid black;
  cursor: pointer;
}

/* [1] The container */
.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}